<!DOCTYPE html>
<!-- Déclaration du fragment principal – le layout layout-demo -->
<!-- Paramétrer le layout pour les valeurs dynamiques -->
<html data-th-fragment="layout-demo(titrePage, contenuPage, ressourcesSupp)"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Rendre variable le titre de la page -->
    <title data-th-replace="${titrePage}">Demo Spring Web</title>

    <link data-th-href="@{/css/general.css}" rel="stylesheet">
    <link data-th-href="@{/css/layout.css}" rel="stylesheet">

    <!-- Permettre d’ajouter ou non des ressources CSS -->
    <th:block data-th-replace="${ressourcesSupp} ?: ~{}"></th:block>

</head>
<body>
<!-- Intégration du fragment d'entête -->
<div data-th-replace="~{fragments/fragment-entete :: frag-entete}"></div>
<main data-th-replace="${contenuPage} ?: ~{}">
    Contenu de la page
</main>

<!-- Intégration du fragment de pied page -->
<div data-th-replace="~{fragments/fragment-piedpage :: frag-piedpage}"></div>
</body>
</html>