<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layouts/layout :: layout-demo(titrePage=~{:: title},
                                                       contenuPage=~{:: .center-main},
                                                       ressourcesSupp=~{})}">
<head>
    <meta charset="UTF-8">
    <title>Erreur</title>
</head>
<body>

<main class="center-main">

<h1>Erreur : film non trouvé</h1>
<a href="/films">Retourner à la liste de films</a>
</main>
</body>
</html>