<!DOCTYPE html>
<!-- Mise en place du layout -->
<html xmlns:th="http://www.thymeleaf.org" data-th-replace="~{layouts/layout :: layout-demo(titrePage=~{:: title},
                                                       contenuPage=~{:: .center-main},
                                                       ressourcesSupp=~{})}"
>
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
</head>
<body>

<main class="center-main">
    <table>
        <tr>
            <th>Genre</th>
            <th>Année</th>
            <th>Titre</th>
            <th>Réalisateur</th>
            <th>Action</th>
        </tr>
        <tr data-th-each="film: ${films}" th:object="${film}" >
            <td data-th-text="*{genre}"/>
            <td data-th-text="*{annee}"/>
            <td data-th-text="*{titre}"/>
            <td data-th-text="${film.realisateur.prenom} + ' ' + ${film.realisateur.nom}"/>
            <td>
                <a data-th-href="@{./films/detail(id=${film.id})}">Détails</a>
                <th:block th:if="${membreSession != null && membreSession.id > 0}">
                    <a data-th-href="@{./avis/creer(idFilm=${film.id})}">Avis</a>
                </th:block>
            </td>
        </tr>
    </table>
    <a href="./nouveau-film"></a>
</main>
</body>
</html>