<!DOCTYPE html>
<!-- Mise en place du layout -->
<html xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layouts/layout :: layout-demo(titrePage=~{:: title},
                                                       contenuPage=~{:: .center-main},
                                                       ressourcesSupp=~{})}">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
</head>
<body>

<main class="center-main">
<table>
    <tr>
        <th>Genre</th>
        <th>Année</th>
        <th>Titre</th>
        <th>Réalisateur</th>
        <th>Action</th>
    </tr>
    <tr th:each="film: ${films}" >
        <td th:text="${film.getGenre()}" />
        <td th:text="${film.getAnnee()}" />
        <td th:text="${film.getNom()}" />
        <td th:text="${film.getRealisateur().getPrenom()} + ' ' + ${film.getRealisateur().getNom()}" />
        <td>
            <a th:href="@{./films/detail(id=${film.id})}">Détails</a>
        </td>
    </tr>
</table>
</main>
</body>
</html>